@{
    ViewBag.ID = "08440 \n Tsubasa Yoshino";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/navbar.css" rel="stylesheet" />
    @* bootstrap *@
    <link href="~/css/signin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @* 必要なスクリプト *@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        body {
            padding-top: 70px;
            min-height:inherit;
        }
    </style>
</head>
<body style="background-color: #0094ff">
    <!-- ナビゲーションバー -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">@Html.ActionLink("Home", "Index", "Home")</p>
            </div>
            <div class="navbar-collapse collapse">
                <!-- ボタン格納場所 -->
                <ul class="nav navbar-nav">
                    <li class="dropdown" style="display:inline">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">MyPage<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">  
                            <li>@Html.ActionLink("Profile", "MyProfile", "Home")</li>
                            <li>@Html.ActionLink("Events", "MyEvents", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">University<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">EventPage<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li><a href="#">スケジュール</a></li>
                            <li><a href="#">以前のイベント</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- ここまでボタン格納場所 -->
                <ul class="nav navbar-nav navbar-right navbar-btn">
                    <li class="nonHover"><label style="font-size:14px; display:inline-block; padding: 6px 12px;">@ViewBag.ID</label></li>
                    @*<span class="label label-default">content</span>*@
                    <li><button type="button" class="btn btn-primary">@Html.ActionLink("ログアウト", "SignIn", "Home", new { @style = "color:#ffffff"})</button></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- ナビゲーションバー -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
