<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @* bootstrap *@
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/signin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @* 必要なスクリプト *@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- ナビゲーションバー -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <!-- ボタン格納場所 -->
                <ul class="nav navbar-nav">
                    <li id=li2>@Html.ActionLink("Menu", "Index", "Home")</li>
                    <li id=li3><a href="#contact">Search</a></li>
                    <li id=li4 class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li class="hover"><a href="#">Action</a></li>
                            <li class="hover"><a href="#">Another Action</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- ここまでボタン格納場所 -->
            </div>
        </div>
    </div>
    <!-- ナビゲーションバー -->

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
