<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* bootstrap *@
    <link href="~/css/signin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @* 必要なスクリプト *@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="~/Image/background/JA_4-11-2013.jpg">
    <!-- ナビゲーションバー -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <!-- ボタン格納場所 -->
                <ul class="nav navbar-nav">
                    <li id=li4 class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">MyPage<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li class="hover"><a href="#">Profile</a></li>
                            <li class="hover"><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li id=li4 class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">University<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li class="hover"><a href="#">Search</a></li>
                            <li class="hover"><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li id=li4 class="dropdown">
                        <a href="#" class="dropwdown-toggle" data-toggle="dropdown">EventPage<b class="caret"></b> </a>
                        <ul class="dropdown-menu hover">
                            <li class="hover"><a href="#">スケジュール</a></li>
                            <li class="hover"><a href="#">以前のイベント</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- ここまでボタン格納場所 -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="components/#navbar" class="btn btn-lg btn-primary" role="button"><font color="#ffffff">ログアウト</font></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- ナビゲーションバー -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
