@{
    DesignProject.Models.ProfileModels.getProfile();
    ViewBag.Title = "Profile";
    //ViewBag.Name = "TsubasaYoshino";
    ViewBag.Name = DesignProject.Models.ProfileModels.Name;
    //ViewBag.Birth = "09/10/1992";
    ViewBag.Birth = DesignProject.Models.ProfileModels.Birth;
    //ViewBag.Id = "08440";
    ViewBag.Id = DesignProject.Models.ProfileModels.Id;
    //ViewBag.UnderGrad = "工学部";
    ViewBag.UnderGrad = DesignProject.Models.ProfileModels.UnderGrad;
    //ViewBag.Department = "情報工学科";
    ViewBag.Department = DesignProject.Models.ProfileModels.Department;
}

<link href="~/css/navbar.css" rel="stylesheet" />

<style>
    body {
        min-height:inherit;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <h1>MyProfile</h1>
        <button type="button" class="btn btn-primary">@Html.ActionLink("プロフィール編集", "EditMyProfile", "Home", new { @style = "color:#ffffff" })</button>
        <hr style="border-top-color:#000000"/>
        <div class="row">
            <div class="col-md-2" style="height:auto">
                <h2>画像とか？</h2>
            </div>
            <div class="col-md-5">
                <p>学籍番号 : @ViewBag.Id</p>
                <p>氏名 : @ViewBag.Name</p>
                <p>生年月日 : @ViewBag.Birth</p>
                <p>学部 : @ViewBag.UnderGrad</p>
                <p>学科 : @ViewBag.Department</p>
            </div>
            <div class="col-md-5">
                <p>入学年 : </p>
                <p>学年 : </p>
                <p>卒業予定年 : </p>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10"><hr style="border-top-color:#000000" /></div>
    </div>
</div>